/* Cores */

/*
#6b9080
#a4c3b2
#cce3de
#eaf4f4
#f6fff8
*/
body{
    background-color: #eaf4f4;
}
main{
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.2rem;
}


h1{
    text-align: center;
    font-size: 2rem;
    line-height: 1rem;
    padding-top: 5%;
    padding-bottom: 10%;
}
.sobreimg{
    width: 50%;
    border-radius: 25rem;
    justify-self: center;
    align-self: center;
}
.carrossel {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    width: 40%;
}
footer h2,p{
    margin-left: 7%;
}
.certificados{
    width: 80%;
}

.card{
    background-color: #cce3de;
}
.esquerda{
    margin-left: 5%;
    float: left;
    width: 4%;
}